*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-image: url(https://images.unsplash.com/photo-1581905764498-f1b60bae941a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%; */
    /* min-width: 100%; */
    background-color: #303030;
}

.bg{

}

header.header{
    width: 100%;
    background-color: #282828;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 a{
    text-decoration: none;
    color: #B22222;
    font-size: 40px;
}

.search-bar #search, button{
    border-radius: 5px;
    padding: 3px;
}

input, button{
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
}

.container{
    max-width: 80%;
    width: 80%;
    margin: 50px auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

#n{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

#n li{
    align-self: center;
    position: relative;
    height: 100%;
    transition: all 0.5s ease;
}

.lingua img{
    width: 25px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    color: #fff;
}

#n li:hover .overlay{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
}

#n li:hover{
    transform: scale(0.9);
}

li{
    height: 100%;
}

li div span{
    font-weight: bold;
}

/* css stelle e bandiere */
.stella{
    color: yellow;
}
